version: 2.1
orbs:
  heroku: circleci/heroku@1.2.5
jobs:
  checkout_code:
    docker:
      - image: circleci/python:3.7.3
      - image: circleci/node:12.4.0
    working_directory: ~/movies
    steps:
      - checkout
      - save_cache:
          key: v1-repo-{{ .Branch }}-{{ .Revision }}
          paths:
            - ~/movies
  back_deps:
    docker:
      - image: circleci/python:3.7.3
    working_directory: ~/movies
    steps:
      - restore_cache:
          key: v1-repo-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          key: v1-pip-deps-{{ checksum "requirements.txt" }}
      - run:
          name: PIP install
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          key: v1-pip-deps-{{ checksum "requirements.txt" }}
          paths:
            - ~/movies
  front_deps:
    docker:
      - image: circleci/node:12.4.0
    working_directory: ~/movies
    steps:
      - restore_cache:
          key: v1-repo-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          key: v1-npm-deps-{{ checksum "package-lock.json" }}
      - run:
          name: NPM install
          command: |
            npm i
      - save_cache:
          key: v1-npm-deps-{{ checksum "package-lock.json" }}
          paths:
            - ~/movies
  front_build:
    docker:
      - image: circleci/node:12.4.0
    working_directory: ~/movies
    steps:
      - restore_cache:
          key: v1-repo-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          key: v1-npm-deps-{{ checksum "package-lock.json" }}
      - run:
          name: Build JS
          command: |
            make build
  back_tests:
    docker:
      - image: circleci/python:3.7.3
      - image: circleci/redis:5.0.5
    environment:
      DATABASE: mongo
      MONGO_URL: mongodb://127.0.0.1:27017/
      REDIS_URL: redis://127.0.0.1:6379
    working_directory: ~/movies
    steps:
      - restore_cache:
          key: v1-repo-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          key: v1-pip-deps-{{ checksum "requirements.txt" }}
      - run:
          name: Backend Tests
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make test-all
workflows:
  version: 2
  jobs_workflow:
    jobs:
      - checkout_code
      - back_deps:
          requires:
            - checkout_code
      - front_deps:
          requires:
            - checkout_code
      - front_build:
          requires:
            - front_deps
      - back_tests:
          requires:
            - back_deps
      - heroku/deploy-via-git:
          context: heroku
          pre-steps:
            - run: git pull
          requires:
            - back_tests
            - front_build
          filters:
            branches:
              only: master
