<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Learning Python</title>
        <style>
            .movie-section,
            .added-to-favorites {
                display: none;
            }
            .error-image {
                width: 80px;
            }
        </style>
    </head>
    <body>
        <main>
            <section class="form-section">
                <h2>Search for a movie in OMDB:</h2>
                <form id="movie-search-form" action="/omdb">
                    <label for="movie-name">Enter the movie name:</label>
                    <input type="text" name="movie-name" id="movie-name" />
                    <input type="submit" value="Search" id="submit-button" />
                </form>
            </section>
            <section class="movie-section">
                <h2 class="movie-title"></h2>
                <div class="movie-card">
                    <img class="movie-image" src="" />
                </div>
                <p class="movie-plot"></p>
                <button id="add-to-favorites">Add to favorites</button>
                <p class="added-to-favorites">Sucessfully added to favorites!</p>
            </section>
            <section class="error-section">
                <h2 class="error-message"></h2>
                <img class="error-image" src="" alt="">
            </section>
        </main>
        <script src="../static/js/requests.js"></script>
        <script src="../static/js/omdb.js"></script>
        <script src="../static/js/favorites.js"></script>
    </body>
</html>
